/*table {

}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {

}

label {
	vertical-align: top;
}

form {
	width: 500px;
  border-radius: 5px;
	border: 3px solid #ccc;
  background-color: #f2f2f2;
  padding: 20px;
}
*/
.button {
  background-color: #00AEFF;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.green {
  background-color: #009100;
}

.red {
  background-color: #E60000;
}